
opencv-python
cython
matplotlib
yacs
scikit-image
tqdm
python-json-logger
h5py
shapely
pycolmap
seaborn
kornia
easydict
pynvml
timm
einops==0.7.0
numpy==1.26.4
gradio
pydantic==2.10.6
pytlsd@git+https://github.com/iago-suarez/pytlsd.git@4180ab8
